/* *********** Utilities styles ************* */

:root {
    --transition-1: .5s;
    --transition-2: 1s;
    /* Color Theme Swatches in Hex */
    --My-Color-Theme-1-hex: #999648;
    --My-Color-Theme-2-hex: #FFFCAB;
    --My-Color-Theme-3-hex: #E6E383;
    --My-Color-Theme-4-hex: #5F3999;
    --My-Color-Theme-5-hex: #AA83E6;
    /* Color Theme Swatches in RGBA */
    --My-Color-Theme-1-rgba: rgba(153, 150, 72, 1);
    --My-Color-Theme-2-rgba: rgba(255, 252, 171, 1);
    --My-Color-Theme-3-rgba: rgba(230, 227, 131, 1);
    --My-Color-Theme-4-rgba: rgba(95, 57, 153, 1);
    --My-Color-Theme-5-rgba: rgba(170, 131, 230, 1);
    /* Color Theme Swatches in HSLA */
    --My-Color-Theme-1-hsla: hsla(57, 36, 44, 1);
    --My-Color-Theme-2-hsla: hsla(57, 100, 83, 1);
    --My-Color-Theme-3-hsla: hsla(58, 66, 70, 1);
    --My-Color-Theme-4-hsla: hsla(263, 45, 41, 1);
    --My-Color-Theme-5-hsla: hsla(263, 66, 70, 1);
    font-size: 16px;
    --level-1-zIndex: 1;
    --level-10-zIndex: 10;
    --level-20-zIndex: 20;
    --level-50-zIndex: 50;
    --level-100-zIndex: 100;
    --level-500-zIndex: 500;
    --level-900-zIndex: 900;
    --level-1000-zIndex: 1000;
    --level-5000-zIndex: 5000;
    scroll-behavior: smooth;
        scroll-padding: 8rem;
}

@font-face {
    font-family: roboto-black;
    src: url(/assets/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-italics;
    src: url(/assets/fonts/Roboto-BlackItalic.ttf);
}

*,
::after,
::before {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* outline: 1px solid white !important; */
}

.testimonials-container.wide-screen-testimonial ul::-webkit-scrollbar {
    width: 20px;
    height: 5px;
}

.testimonials-container.wide-screen-testimonial ul::-webkit-scrollbar-track {
    background: #2c2a36;
}

.testimonials-container.testimonials-container.wide-screen-testimonial ul::-webkit-scrollbar-thumb {
    background: #43424c;
}

.testimonials-container.testimonials-container.wide-screen-testimonial ul::-webkit-scrollbar-thumb:hover {
    background: #2c2a36;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #151320;
    width: 100%;
    position: relative;
    gap: .2vw;
}

.btn {
    background-color: #131520;
    border: none;
    box-shadow: inset 15px 15px 40px #43424c;
    padding: .5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #a3a3a3;
    transition: var(--transition-1);
    white-space: nowrap;
    border-radius: .2em;
    user-select: none;
}

.btn:hover {
    color: floralwhite;
}

.p-text {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}

.h3-hd {
    color: #f1f1f1;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 600;
}


/* Has Scrollbar */


/* Has Scrollbar */

.header {

    margin: 0 0 2rem 0;
    overflow: hidden;
    padding: 1.5rem 0;
    background: #2c2a36;
    z-index: var(--level-5000-zIndex);
    animation: slide-up 1s ease-out;
        transition: opacity 1s ease-in-out;
    }
    
    @keyframes slide-up {
        from {
            opacity: .1;
        }
    
        to {
            opacity: 1;
                ;
        }
}

.header .container {
    position: relative;

}

.logo {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.logo svg {
    min-width: 100%;
}

.title-box {
    position: absolute;
    top: 90%;
    left: 0;
}

.header.sticky {
    position: sticky;
    top: 0;
    background: #2c2a36fc;
        animation: slide-down 1s ease-in-out;
            transition: all 1s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
}

.header.sticky .hero {
    border: 1px solid red;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* 
.logo-div {
    padding: .25rem;
    display: flex;
    justify-content: flex-start;
} */


/* .nav-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 */

.site-title {
    font-size: 1rem;
    color: #151320;
    transition: var(--transition-1);
    animation: siteHover 1s infinite;
    animation-delay: 1000s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.site-title.glow {
    filter: brightness(90);
    scale: 1;
    text-shadow: 0 0 10px #fff;
}

.navigation .nav-links {
    display: flex;
    gap: .7rem;
}

.navigation.main-nav .nav-links .icon-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
}


/* 
.navigation .nav-links__item {
    list-style: none;
    display: flex;
    align-items: center;
}
 */

.navigation .nav-links .icon-mine {
    border: 1px solid #2c2a36;
    border-radius: 50%;
    transition: var(--transition-1);
    box-shadow: inset 2px 2px 2px #43424c, 2px 2px 2px #151320;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    height: min(2.5rem, 3rem);
    width: min(2.5rem, 3rem);
    user-select: none;
}

.navigation.secondary-nav .nav-links.footer-nav .icon-mine {
    /* border: 1px solid #2c2a36;
    border-radius: 50%;
    transition: var(--transition-1); */
    box-shadow: 2px 2px 2px #43424c, inset -2px -2px -2px #151320;
    /*  color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    height: min(2.5rem, 3rem);
    width: min(2.5rem, 3rem); */
}

.navigation .nav-links li:hover .icon-mine {
    color: #43424c;
    filter: brightness(2);
}

.fa-whatsapp.icon-mine {
    color: var(--clr);
}

.nav-links .fa-envelope:hover {
    color: var(--clr);
}

.fa-envelope {
    color: var(--clr);
}

.fa-phone {
    color: var(--clr);
}

.navigation.nav-wide-screen {
    display: none;
}


/* ******** hero section ***** */

.hero {

    margin-bottom: 1rem;
}

.hero__title {
    color: #fff;
    font-size: 2rem;
    font-family: roboto-bold;
    max-width: 600px;
    margin-bottom: 1rem;
}

.hero__title-span--text {
    display: block;
    color: #43424c;
    filter: brightness(2);
}

.hero__content {
    padding: .2rem;
    /*  margin-bottom: 1rem; */
}

.hero-content__text {
    margin: 1rem 0;
}


/* ******** Meet our team section ***** */

.about-title {
    font-size: 1.5rem;
    font-family: roboto-bold;
    color: #43424c;
    font-weight: 600;
    filter: brightness(3);
    margin-bottom: 1rem;
}

.about-text {
    flex-direction: column;
    gap: 1rem;
}

.about-text .p-text {
    font-size: 1.2rem;
}

.team {
    position: relative;
    margin-top: 6rem;
}

.team .container {
    max-width: 100%;
    height: 50vh;
    position: relative;
    padding: 1rem 0;
}

.our-team-hd {
    background: linear-gradient(to top, rgba(75, 66, 66, 0.8) 80%, rgba(255, 255, 255, 0.868));
    position: absolute;
    z-index: 100;
    max-width: 500px;
    width: 60%;
    top: -2rem;
    left: 50%;
    translate: -50%;
    color: #f06b0d;
    font-weight: 900;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    transition: var(--transition-1);
    padding: 1em;
    white-space: nowrap;
    z-index: var(--level-1000-zIndex);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.team-section:hover .our-team-hd {
    scale: 1.1;
    opacity: .9;
}


/* .team-wide-screen {
    display: none;
} */

.member-of-team {
    flex-grow: 1;
    background-color: #43424c;
    padding: .560rem;
    overflow: hidden;
    transition: var(--transition-1);
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid #43424c
}

.team-member.mobile-viewport {
    display: flex;
    border: 2px dashed white;
}

.counter-style {
    position: absolute;
    z-index: var(--level-500-zIndex);
    right: 0;
    background: #0101017e;
    bottom: .850rem;
    padding: .2em .4em;
    color: #43424c;
    border-radius: .2em;
    filter: brightness(2);
}

.team-member-btns,
.members-count {
    user-select: none;
}

.team_btn {
    font-weight: 900;
    font-size: 1rem;
    transition: var(--transition-1);
    color: #43424c;
    filter: brightness(2);
    position: absolute;
    display: flex;
    place-content: center;
    top: 50%;
    z-index: var(--level-500-zIndex);
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #010101;
    border-radius: 50%;
}

.team_btn:hover {
    background: #43424c;
    color: #010101;
}

.prev-member {
    left: -8%;
}

.next-member {
    right: -8%;
}

.member-of-team:hover {
    background-color: transparent;
    border-radius: 1em;
    z-index: var(--level-500-zIndex);
}

.tm-1:hover .our-team-hd {
    opacity: 0;
}

.member-of-team:hover span {
    color: #fff;
}

.member-of-team:hover .tm-img {
    filter: saturate(1);
}

.member-of-team:hover .socials {
    right: 2.5%;
}

.tm-img {
    width: 100%;
    height: 100%;
    filter: saturate(0);
    display: flex;
    justify-content: center;
}

.tm-img img {
    width: 100%;
}

.member-of-team .tm-name {
    margin-top: .3rem;
    color: #a3a3a3;
    transition: var(--transition-1);
}

.member-of-team:hover .tm-name {
    translate: 30%;
    color: #f1f1f1;
}

.member-of-team .tm-role {
    color: #151320;
    display: block;
    transition: var(--transition-1);
}

.member-of-team .socials {
    background: linear-gradient(to right, rgb(67, 66, 76, .5), rgb(21, 19, 32) 70%);
    height: 70%;
    width: 3rem;
    position: absolute;
    right: -100%;
    transition: var(--transition-1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--level-2-zIndex);
    padding-right: .5rem;
}

.socials .socials-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.socials .socials-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: calc(100%/4);
    padding: 0 1rem;
}

.socials .socials-links .i-style-mine {
    width: 100%;
    padding: 0 1rem;
    color: var(--clr);
    transition: var(--transition-1);
}

.socials .socials-links .i-style-mine:hover {
    filter: brightness(30);
}


/* ******* Service Section  */

.services {
    flex: 1;
    flex-direction: column-reverse;
    margin-top: 1rem;
}

.service-container {
    order: 1;
    width: 100%;
    padding: .550rem 0;
    transition: var(--transition-1);

}

.service-container.opened-forms {
    flex-direction: column;
}

.service-container.opened-forms .our-products {
    display: none;
}

.section-header {
    order: 2;
    grid-column: 1/2;
    background-image: radial-gradient(circle at 1px 4px, #131520 12px, #43424c 15px);
    background-size: 16px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-layer {
    background-color: #131520;
    border: 1px double #43424c;
    text-align: center;
    display: flex;
    place-items: center;
    padding: .5rem;
    border-radius: .345rem;
    max-width: 90%;
}

.header-layer .h3-hd {
    color: #43424c;
    filter: brightness(2);
    font-size: 3vw;
}


/* *********Aside Section *******  */

.aside {
    display: none;
}

.search-input-wrapper {
    justify-content: center;
    padding: .2rem;
    margin-top: 2rem;
}

.search-box {
    line-height: 1.5;
    padding: .450rem;
    flex: 3;
    max-width: 300px;
    outline: none;
    border: none;
    background-color: #131520;
    /*  box-shadow: inset 1px 1px 2px #43424c, 1px 1px 2px #43424c; */
    color: #f1f1f1;
}

.search-link {
    color: #43424c;
    /* filter: brightness(2); */
    cursor: pointer;
    flex: .5;
    align-items: center;
    justify-content: center;
    /*  border: 1px solid #43424c; */
    border-left: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    transition: var(--transition-1);
    max-width: 50px;
    padding: .450rem;
    box-shadow: inset 1px 1px 2px #43424c, 2px 2px 2px #131520;
}

.search-link i {
    filter: brightness(2);
    transition: var(--transition-1);
}

.search-link i:hover {
    filter: brightness(3);
}


/* *********About Us Section *******  */

.about-us {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #2c2a36;
    border-radius: .5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1rem 0;
}


/* .carousel-container {} */

.carousel-container {
    flex: 1;
    align-self: center;
}

.carousal-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    gap: .3rem;
}

.carousel-slide {
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide:hover .slide-caption {
    width: 90%;
    opacity: 1;
}

.carousel-slide img {
    max-height: 100%;
}

.fade-in {
    transition: all 2s ease-in-out;
}

.slide-caption {
    position: absolute;
    left: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #131520b0;
    padding: 1rem .5rem;
    min-height: 9vw;
    font-size: 1.2rem;
    width: 0;
    transition: all var(--transition-1) ease;
    opacity: 0;
}

.slide-caption h5 {
    font-size: 1.5rem;
    transition: all var(--transition-1);
}

.carousel-indicators-dots {
    text-align: center;
    user-select: none;
    position: absolute;
    bottom: 1.22rem;
}

.slide-nav-btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
}

.slide-nav__btn-icon {
    cursor: pointer;
    color: #f1f1f1;
    font-size: 1rem;
    transition: var(--transition-1);
    padding: .3em;
    user-select: none;
}

.slide-nav__btn-icon:hover {
    background: #43424c;
}

.dots {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin: 2px;
    box-shadow: inset 2px 2px 2px #43424c, 2px 2px 2px #151320;
    cursor: pointer;
    transition: var(--transition-1);
}

.dots:is(:hover, :focus),
.active {
    background: #f1f1f1;
}

.carousel-indicators button[aria-current=true] {
    background-color: #f06b0d;
}

.slide-caption {
    translate: 0 -100%;
}

.carousel-item.img-mine.active.scale::after {
    scale: 90% 50%;
    translate: 0 -5%;
}


/* ============= product section =============== */

.our-products {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    justify-content: space-evenly;
    opacity: 1;
    position: relative;
    z-index: 200;
}

.products__paragraph {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding: .5rem 0;
}

.text-btn {
    font-size: .8rem;
    filter: brightness(2);
    color: #43424c;
    text-decoration: none;
    transition: var(--transition-1);
}

.text-btn::after {
    content: '';
    display: block;
    height: 1px;
    background: #43424c;
    opacity: 0;
    width: 0;
    transition: var(--transition-1);
}

.text-btn:hover::after {
    margin-right: auto;
    width: 90%;
    opacity: .5;
}

.text-btn:hover {
    filter: brightness(3);
    margin-left: .2rem;
}

.service-description {
    align-self: center;
    display: flex;
    color: #131520;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.service-description.testimonial {
    margin: 3rem 0;
}

.products-description.aside {
    display: none;
}


/* .description-paragraph::first-letter {
    line-height: 2;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 2px 0 0;
    white-space: wrap;
} */

.testimonials-title {
    color: #2c2a36;
    filter: brightness(3);
    font-size: 2.2rem;
    font-family: roboto-black;
    margin-bottom: 1rem;
}

.testimonial-client {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.testimonial-client__img {
    width: 5rem;
    height: 5rem;
    /*  border-radius: 50%; */
    overflow: hidden;
    position: absolute;
    top: -40%;
    left: 50%;
    translate: -50%;
}

.testimonial-client__img img {
    clip-path: circle(50%);
}

.testimonial__text-container {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem .5rem 1rem;
    position: relative;
    border-radius: .3em;
    box-shadow: 0 1px 2px #43424c;
    transition: var(--transition-1);
}

.testimonial__text-container:hover {
    border-radius: 5em;
}

.service-description.testimonial p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.service-description.testimonial p::before {
    content: open-quote;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    color: #ee0707;
}

.service-description.testimonial p::after {
    content: close-quote;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    color: #ee0707;
}

.service-description.testimonial .testimonial-client-name {
    font-weight: 700;
    display: block;
    text-align: center;
    margin-top: .7rem;
    color: #43424c;
    filter: brightness(2);
}

.service-description.testimonial .testimonial-client-name::before {
    content: '-';
    font-weight: 700;
    margin-right: .2rem;
    height: 1rem;
}

.testimonial-wrapper {
    display: flex;
    width: 100%;
}

.service-description.testimonial {
    width: 100%;
    flex-direction: column;
}

.service-description .testimonial-wrapper {
    flex-direction: column;
}

.testimonials-container {
    max-width: 100%;
    justify-content: center;
}

.testimonial-client {
    display: none;
}

.testimonial-control-wrapper {
    color: white;
    width: 100%;
    background: rgb(0, 0, 0, .1);
    margin: 0 auto;
    justify-content: space-between;
    user-select: none;
    max-width: 300px;
}

.testimonial-controls {
    display: flex;
    gap: .1rem;
    width: 100%;
}

.testimonial-control__btn {
    padding: .3em;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition-1);
}

.testimonial-control__btn:hover {
    background: #43424c;
}

.testimonial-counter-wrapper {
    position: inherit;
    width: 100%;
    padding: .3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}


/* ********* footer section ********** */


/* *********** Footer section ************* */

.footer {
    width: 100%;
    padding: 2rem 0 1rem 0;
    background: linear-gradient(to top, #010101 50.5%, #131520);
    display: flex;
    flex-direction: column;
}

.footer .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    justify-content: space-evenly;
}


/* .form-container {
    border: 1px solid white;
    position: fixed;
    padding: 10rem;
    width: 100%;
    bottom: 10rem;
} */

.contact-form-section {
    transition: var(--transition-1);
    max-width: 100%;
    position: fixed;
    right: 50%;
    bottom: 0;
    translate: 50%;
    width: 100%;
    height: 100vh;
    z-index: var(--level-900-zIndex);
    background: #01010180;
    display: none;
}


/* .contact-form-section.wide-viewport-footer {
    display: none;
} */

.contact-form-section label {
    font-weight: 600;
    flex: .3;
    filter: brightness(2);
    color: #43424c;
}

.form-hd {
    color: #2c2a36;
    padding: .180rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    width: fit-content;
    border-radius: .360rem;
    font-family: roboto-black;
    filter: brightness(3);
    margin-bottom: .5rem;
}

.form-hd h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 2;
    text-transform: uppercase;
}


/* .contact-form-section {
    height: 50vh;
    width: 200%;
    position: absolute;
    bottom: 0;
} */

.contact-form {
    background: rgb(1, 1, 1, .9);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition-1);
    position: absolute;
    bottom: 2%;
    padding: 1rem 0;
    border-radius: .3em;
    z-index: var(--level-1000-zIndex);
    width: 90%;
    max-width: 700px;
    translate: -50%;
    left: 50%;
}

.contact-form-section.formOpened {
    display: flex;
    filter: brightness(1.5);
        z-index: 2000;
}

.contact-us-icon {
    cursor: pointer;
}

.contact_login-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 95%;
    padding: 0 .850rem;
}

.input-box {
    background-color: #131520;
    border: none;
    box-shadow: inset 2px 2px 2px #43424c, 2px 2px 2px #43424c;
    padding: .350rem;
    color: #f1f1f1;
    display: flex;
    gap: .2rem;
    border-radius: .4rem;
    width: 100%;
    place-items: center;
}

.input {
    flex: 1;
    background-color: rgb(1, 1, 1, .5);
    border: none;
    outline: none;
    box-shadow: inset 1px 1px 2px #131520, inset -2px -2px 2px #131520;
    line-height: 1.5;
    color: white;
    padding: .250rem 1rem;
    border-top-right-radius: 3rem;
    width: 100%;
    border-bottom-right-radius: 3rem;
    transition: var(--transition-1);
}

.input:not(:placeholder-shown) .staff-login-btn {
    text-align: center;
    font-weight: 500;
    font-size: .860rem;
}

.contact-us .input-tx-area {
    flex: 1;
    background-color: #43424c;
    border: none;
    outline: none;
    box-shadow: inset 1px 1px 2px #131520, inset -2px -2px 2px #131520;
    line-height: 1.5;
    color: white;
    padding: .850rem;
    width: 100%;
}

.close-form-text {
    position: absolute;
    top: 1rem;
    right: .5rem;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none;
}

.form__btn-container {
    display: flex;
    justify-content: flex-end;
}

.contact-form-section .btn {
    width: 40%;
    max-width: 300px;
}

.copyright-text {
    display: flex;
    padding: .72em;
    margin-top: 1rem;
    justify-content: center;
}

.footer-small-p-text {
    color: #43424c;
    font-size: .8rem;
    transition: var(--transition-1);
    filter: brightness(2);
}

.footer-small-p-text:hover,
.red-text-span:hover {
    filter: brightness(3);
}

.red-text-span {
    color: #ee0707;
}


/* ******** search box ********* */

.section-box-footer {
    display: block;
}


/* Login Page Styles */

.login-main-content {
    max-height: 100vh;
}

.login-container {
    border-radius: .5em;
    margin: 5% auto;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 3px 3px 3px #080808, 3px 3px 3px #080808, 3px 3px 3px #080808, 3px 3px 3px #080808, 3px 3px 3px #080808, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36, -2px -2px 2px #2c2a36;
}

.btn-login {
    width: 100%;
    outline: none;

}

.form-hd.login {
    width: 100%;
}

.register-link-container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__link {
    text-decoration: none;
    color: #43424c;
    filter: brightness(3);
    transition: var(--transition-1);
}

.register__link:hover {
    filter: brightness(5);
}

.stroke-divider {
    margin: 0 1rem;
    color: #43424c;
    filter: brightness(3)
}


/* Login Page End */
/*  media @ 650px  */

@media (min-width: 40.625em) {
    .mid-container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: visible;
    }

    .logo-div {
        display: flex;
        align-items: center;
    }

    .logo svg {
        width: 100%;
    }

    .title-box {
        position: relative;
        align-items: center;
        display: flex;
    }

    .site-title {
        font-size: 2rem;
    }

    .site-title.glow {
        filter: brightness(90);
        scale: 1.1;
        text-shadow: 0 0 10px #fff;
    }

    .navigation .nav-links .icon-mine {
        height: 3rem;
        width: 3rem;
    }

    /* ******** hero section ***** */
    .hero-content__btn {
        font-size: 1.2rem;
        padding: .5em 1em;
    }

    /* ******** Meet our team section ***** */
    .hero {
        margin-bottom: 3.5rem;
    }

    .narrow-hd-our-team {
        padding: .75em;
        top: -4rem;
    }

    .team-section:hover .our-team-hd {
        scale: 1.1;
    }

    /*  .team {
        display: flex;
    } */
    .team-member-btns {
        display: none;
    }

    .members-count {
        display: none;
    }

    .team {
        display: block;
    }

    .grid-container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-row: auto;
        gap: 1rem;
        position: relative;
        max-width: 960px;
    }

    .member-of-team {
        display: flex;
        width: 100%;
    }

    /* .tm-img img {
        max-width: 100%;
        filter: saturate(0);
        display: flex;
        justify-content: center;
    } */
    .services {
        flex: 1;
        flex-direction: column-reverse;
        margin-top: 1rem;
        background: inherit;
    }

    .products__paragraph {
        margin: 0 auto;
        width: 70%;
    }

    /* .contact-form-section {
        flex-direction: row-reverse;
        max-width: 800px;
        align-items: center;
        margin: 0 auto;
        gap: 0;
    } */
    /* ****** Footer ******** */
    .footer-nav {
        justify-content: flex-start;
    }

    .contact-form-section {
        width: 100%;
    }

    .footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'navigation search' 'copyright copyright';
        column-gap: 1rem;
    }

    .footer .navigation {
        margin: 0;
        grid-area: navigation;
    }

    .search-input-wrapper {
        margin: 0;
    }

    .section-box-footer {
        grid-area: search;
    }

    .copyright-text {
        grid-area: copyright;
    }
}


/* media @ 800px  */

@media (min-width: 50em) {

    /* ******** hero section ***** */
    .hero {
        display: flex;
        gap: .75em;
    }

    .hero__title {
        font-size: 2.5rem;
        max-width: 700px;
    }

    .hero-content__btn {
        font-size: 1.2rem;
        padding: .5em 1em;
    }

    /* ******** Meet our team section ***** */
    .our-products {
        flex-direction: row;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .service-description.testimonial {
        margin: 0;
        max-width: 100%;
    }

    .products__paragraph {
        font-size: 1.5rem;
        margin: 0;
    }

    .text-btn {
        font-size: 1rem;
    }

    .contact-form {
        width: 150%;
    }
}


/* media @ 960 */

@media screen and (min-width: 60em) {

    /* *********** Header styles ************* */
    .header {
        padding: 1.5rem 0;
        z-index: 2000;
        overflow: visible;
    }

    .title-box {
        border: 1px;
    }

    .nav-box {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation.mobile-nav {
        display: none;
    }

    .navigation.nav-wide-screen {
        display: flex;
        width: 80%;
        justify-content: flex-end;
    }

    .nav-links-wide {
        padding: .5em 0;
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .nav-links-wide .nav-links__item {
        width: 70%;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        padding: 0 .3rem;
    }

    .nav-links__item.user {
        display: flex;
        /*  border: 1px solid red; */
        position: relative;
        transition: var(--transition-1);
    }

    .user-auth-list {
        display: none;
        /*  border: 1px solid blue; */
        position: absolute;
        bottom: -5.7rem;
        left: 90%;
        width: 10rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: inherit;
        transition: var(--transition-1);
        background: #2c2a36a3;
        padding: 0 .8rem;
    }

    .nav-links__item.user:is(:hover, :focus) .user-auth-list {
        display: flex;
    }

    .user-auth-list__item {
        display: block;
    }

    .user-auth-list__link {
        display: block;
        color: #43424c;
        padding: .5rem 0;
        filter: brightness(2);
        transition: var(--transition-1);
    }

    .user-auth-list__link:hover {
        filter: brightness(3);
    }

    .nav-links-wide .nav-link__link {
        color: #43424c;
        font-size: 1.2rem;
        filter: brightness(2);
        transition: var(--transition-1);
    }

    .nav-link__link:hover {
        filter: brightness(3);
    }

    .site-title {
        margin-left: 1rem;
        font-size: 2rem;
        color: #151320;
        transition: var(--transition-1);
        animation: siteHover 1s infinite;
        animation-delay: 1000s;
        animation-timing-function: linear;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
    }

    .site-title.glow {
        filter: brightness(90);
        scale: 1.2;
        text-shadow: 0 0 10px #fff;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 100%;
        width: 6rem;
    }

    /* ******** hero section ***** */
    .hero {
        /*   height: 100vh; */
        margin-bottom: 4rem;
        padding-block-start: 2rem;
    }

    .hero__title {
        font-size: 3.5rem;
        /*  align-self: center; */
    }

    .hero__title-span--text {
        display: block;
        color: #43424c;
        filter: brightness(2);
    }

    .hero__content {
        padding: .2rem;
        margin-bottom: 1rem;
    }

    .hero-content__text {
        margin: 1rem 0;
    }

    /* *********** content styles ************* */
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'team team aside' 'team team aside';
        gap: 1rem;
    }

    .about-us-article {
        grid-area: team;

    }

    .team {
        /*  grid-area: team; */
        width: 100%;
        display: flex;
        margin-top: 15rem;
    }

    .our-team-hd {
        top: -8rem;
        padding: 1.2rem;
        font-size: 1.5rem;
    }

    /*  .team-wide-screen {
        grid-area: team;
        width: 100%;
        display: flex;
        border: 3px solid green;
        height: 70vh;
    } */
    .products-description.mobile-screen {
        display: none;
    }

    /* ============= aside section =============== */
    .aside {
        display: flex;
        flex-direction: column;
        grid-area: aside;
        max-width: 90%;
        justify-self: flex-end;
        gap: 10rem;
        justify-content: flex-start;
    }

    .aside .products-description {
        display: block;
    }

    .aside-services-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .aside-section {
        padding: 1em;
        background: #2c2a36;
        border-radius: .50em;
        gap: 2rem;
        flex-direction: column;
        opacity: .8;
    }

    .aside-section .h3-hd {
        text-align: center;
    }

    .aside-nav__list--item {
        padding: .8rem;
        background: #2c2a36;
        transition: var(--transition-1);
        box-shadow: inset 2px 2px 2px #43424c, 2px 2px 2px #131520;
        margin-top: 1rem;
    }

    .aside-nav-link {
        color: #43424c;
        line-height: 1.5;
        font-size: 1.1rem;
        filter: brightness(2);
        transition: var(--transition-1);
    }

    .aside-nav-link:is(:hover, :focus) {
        text-shadow: 0 0 1px #ffffff;
        filter: brightness(3);
    }

    .aside-nav__list--item:is(:hover, :focus) {
        margin-left: 1rem;
    }

    /*  .aside-nav__list--item::after {
        content: '';
        display: block;
        height: 1px;
        background: #43424c;
    } */
    .aside-section .p-text {
        font-size: 1.2rem;
        font-weight: inherit;
        line-height: 1.4;
        width: 100%;
    }

    /* ============= services styles =============== */
    .services {
        /*  grid-area: slide; */
        width: 100%;
    }

    .section-header {
        width: 100%;
    }

    .service-description.testimonial {
        /* overflow: scroll; */
    }

    .testimonial-wrapper {
        align-items: center;
        justify-content: center;
    }

    .testimonials-container.wide-screen-testimonial {
        width: 100vw;
        position: relative;
    }

    .testimonials-container .testimonial-list {
        display: flex;
        /* overflow-x: scroll;
        scroll-snap-type: mandatory;
        scroll-snap-stop: always; */
        padding: 2rem .5rem 1rem .5rem;
        width: 100%;
        gap: 2rem;
    }

    .testimonials-container .testimonial-list__item {
        width: 100%;
    }

    .testimonial-control-wrapper {
        display: none;
    }

    /* ============= footer section =============== */
    .footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'navigation navigation' 'copyright copyright';
    }

    .section-box-footer {
        display: none;
    }

    .footer .navigation {
        grid-area: navigation;
    }

    .copyright-text {
        grid-area: copyright;
    }

    /* .content::before {
    content: '';
    display: block;
    height: .550rem;
    width: 100%;
    background-image: radial-gradient( circle at 1px 2px, #151320 1px, #43424c 10px);
    background-size: 5px 5px;
    position: absolute;
    top: 3rem;
    left: 0;
} */
    /*  .content {
        width: 100%;
        display: flex;
        border-bottom: 2px solid rgb(44, 42, 54, .5);
        margin-top: .890rem;
        padding: 1rem;
        gap: 1.25rem;
    } */
    /* ============= team section =============== */
    /*  .team {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .350rem;
        height: 85vh;
        position: relative;
    } */
    /*   .our-team-hd {
        width: 50vh;
        background: linear-gradient(to top, rgba(75, 66, 66, 0.8) 80%, rgba(255, 255, 255, 0.868));
        position: absolute;
        z-index: 100;
        left: 29%;
        color: #f06b0d;
        font-weight: 900;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
        transition: var(--transition-1);
        padding: .880rem 0;
        white-space: nowrap;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    .team:hover .our-team-hd {
       
        scale: 1.2;
        z-index: 3;
    } */
    /* .team-member {
        background-color: #43424c;
        padding: .560rem;
        overflow: hidden;
        transition: var(--transition-1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    } */
    /*  .team-member:hover {
        background-color: transparent;
        border-radius: 1em;
        z-index: 500;
    }
    .tm-1:hover .our-team-hd {
        opacity: 0;
    }
    .team-member:hover span {
        color: #fff;
    }
    .team-member:hover .tm-img {
        filter: saturate(1);
    }
    .team-member:hover .socials {
        right: 2.5%;
    }
    .tm-img {
        width: 100%;
        height: 100%;
        filter: saturate(0);
        display: flex;
        justify-content: center;
    }
    .tm-img img {
        width: 100%;
    }
    .team-member .tm-name {
        margin-top: .3rem;
        color: #a3a3a3;
        transition: var(--transition-1);
    }
    .team-member:hover .tm-name {
        transform: translateX(20%);
        color: #f1f1f1;
    }
    .team-member .tm-role {
        color: #151320;
        display: block;
        transition: var(--transition-1);
    }
    .team-member .socials {
        background: linear-gradient(to right, rgb(67, 66, 76, .5), rgb(21, 19, 32) 70%);
        height: 70%;
        width: 3rem;
        position: absolute;
        right: -100%;
        transition: var(--transition-1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        padding-right: .5rem;
    }
    .socials .socials-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .socials .socials-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;
        height: calc(100%/4);
        padding: 0 1rem;
    }
    .socials .socials-links .i-style-mine {
        width: 100%;
        padding: 0 1rem;
        color: var(--clr);
        transition: var(--transition-1);
    }
    .socials .socials-links .i-style-mine:hover {
        filter: brightness(30);
    } */
    /* ============= services section =============== */
    /*  .services {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 3.5rem 1fr;
       
    }
    .service-container {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-inline: auto;
        margin-block-start: max(.3rem, 1rem);
        grid-row-start: 2;
        width: 90%;
        height: 75vh;
        transition: var(--transition-1);
    }
    .service-container.opened-forms {
        flex-direction: column;
    }
    .service-container.opened-forms .our-products {
        display: none;
    }
    .section-header {
        grid-column: 1/2;
        background-image: radial-gradient(circle at 1px 4px, #131520 12px, #43424c 15px);
        background-size: 16px 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-layer {
        background-color: #131520;
        border: 1px double #43424c;
        width: fit-content;
        text-align: center;
        white-space: nowrap;
        display: flex;
        place-items: center;
        z-index: 150;
        padding: .5rem;
        border-radius: .345rem;
    }
    .header-layer .h3-hd {
        color: #43424c;
        filter: brightness(2);
        font-size: 1rem;
    } */
    /* 
.our-products {
    flex: 1;
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #f1f1f1;
    padding: .5rem;
    justify-content: space-evenly;
    opacity: 1;
    position: relative;
    top: -50%;
    z-index: 200;
    translate: 0 -100%;
}

.our-products p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #131520;
    text-align: justify;
}

.service-description {
    color: #131520;
    font-size: 2rem;
}

.service-description {
    font-weight: 600;
}

.description-paragraph::first-letter {
    line-height: 2;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 2px 0 0;
    white-space: wrap;
}

.service-description.testimonial p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.service-description.testimonial p::before {
    content: open-quote;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #ee0707;
}

.service-description.testimonial p::after {
    content: close-quote;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #ee0707;
}

.service-description.testimonial span {
    font-weight: 700;
    display: block;
    text-align: center;
    margin-bottom: 1.25rem;
}

.service-description.testimonial span::before {
    content: '-';
    font-weight: 700;
    margin-right: .2rem;
    height: 1rem;
}
 */
    /* .about-us {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #2c2a36;
        border-radius: .5rem;
        width: 100%;
        height: 95%;
        overflow: hidden;
        position: relative;
    }
    .carousel-container {
        flex: 1;
    }
    .carousal-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: .5rem;
        gap: .3rem;
    }
    .carousel-slide {
        display: none;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .carousel-slide:hover .slide-caption {
        width: 90%;
        opacity: 1;
    }
    .carousel-slide img {
        max-height: 100%;
    }
    .fade-in {
        transition: all 2s ease-in-out;
    }
    .slide-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: #131520b0;
        padding: 1rem .5rem;
        min-height: 9vw;
        font-size: 1.2rem;
        width: 0;
        transition: .5s ease;
        opacity: 0;
    }
    .slide-caption h5 {
        font-size: 1.5rem;
    }
    .carousel-indicators-dots {
        text-align: center;
        user-select: none;
    }
    .slide-nav-btn {
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 500px;
    }
    .slide-nav__btn-icon {
        cursor: pointer;
        color: #f1f1f1;
        font-size: 1rem;
        transition: var(--transition-1);
        padding: .3em;
        user-select: none;
    }
    .slide-nav__btn-icon:hover {
        background: #43424c;
    }
    .dots {
        display: inline-block;
        width: 2.5rem;
        height: .2rem;
        margin: 2px;
        background: #f1f1f1;
        cursor: pointer;
    }
    .dots.active {
        background: #f06b0d;
    }
    .carousel-indicators button[aria-current=true] {
        background-color: #f06b0d;
    }
    .slide-caption {
        translate: 0 -100%;
    }
    .carousel-item.img-mine.active.scale::after {
        scale: 90% 50%;
        translate: 0 -5%;
    }
   
    .service-container.opened-forms .about-us {
        flex-direction: column;
    }
    .service-container.opened-forms .gallery-img {
        height: 50%;
    }
 */
    /* ============= contact section =============== */
    /*   .contact-form-section {
        grid-column: 2/4;
        background-image: radial-gradient(circle at 1px 4px, #131520 12px, #43424c 15px);
        background-size: 16px 17px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 3.5rem;
        overflow: hidden;
        padding-top: 0;
        transition: var(--transition-1);
    }
    .contact-form-section.open-login {
        height: 20rem;
        padding-bottom: 1.5rem;
    }
    .form-selector {
        display: flex;
        flex-direction: row;
        gap: .2rem;
        position: absolute;
        top: 0;
        align-self: center;
        width: 80%;
        padding: .870rem .650rem;
        margin-bottom: .550rem;
    }
    .form__selector__btns {
        display: flex;
        position: absolute;
        top: .5rem;
        gap: .550rem;
        z-index: 4;
    }
    .btn-select-form {
        color: #f06c0d;
    }
    .form-selector .btn-mine::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #f06c0da2;
        position: relative;
        width: 0;
        transition: var(--transition-1);
    }
    .form-selector .btn-mine::before {
        content: '';
        display: block;
        height: 1px;
        background-color: #f06c0da2;
        position: relative;
        width: 0;
        transition: var(--transition-1);
    }
    .form-selector .btn-mine:hover::after {
        width: 100%;
        margin-right: auto;
    }
    .form-selector .btn-mine:hover::before {
        width: 100%;
        margin-left: auto;
    }
    .contact label {
        font-weight: 600;
        flex: .3;
        color: #a3a3a3;
    }
    .form-hd {
        color: #f1f1f1;
        padding: .180rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-height: 1;
        width: fit-content;
        border-radius: .360rem;
    }
    .form-hd h3 {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 2;
        text-transform: uppercase;
    }
    .contact-section-forms {
        background-color: rgb(21, 19, 32, .6);
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 4rem;
        right: -100%;
        transition: var(--transition-1);
    }
    .contact_login-form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: 95%;
        padding: 0 .850rem;
    }
    .close-form-text.form-close {
        position: absolute;
        bottom: 2%;
        color: #f1f1f1;
        background-color: #131520;
        right: 2%;
        font-size: 1.2rem;
        cursor: pointer;
        visibility: hidden;
        transition: var(--transition-1);
        border-radius: .8rem;
        z-index: 1;
    }
    .close-form-text.form-close:hover {
        filter: brightness(2);
    }
    .close-form-text .form-close {
        color: #ee0707;
    }
    .input-box {
        background-color: #131520;
        border: none;
        box-shadow: inset 2px 2px 2px #43424c, 2px 2px 2px #43424c;
        padding: .350rem;
        color: #f1f1f1;
        display: flex;
        gap: .2rem;
        border-radius: .4rem;
        width: 100%;
        place-items: center;
    }
    .input {
        flex: 1;
        background-color: #43424c;
        border: none;
        outline: none;
        box-shadow: inset 1px 1px 2px #131520, inset -2px -2px 2px #131520;
        line-height: 1.5;
        color: white;
        padding: .250rem 1rem;
        border-top-right-radius: 3rem;
        width: 100%;
        border-bottom-right-radius: 3rem;
        transition: var(--transition-1);
    }
    .input:not(:placeholder-shown) .staff-login-btn {
        text-align: center;
        font-weight: 500;
        font-size: .860rem;
    }
    .contact-us .input-tx-area {
        flex: 1;
        background-color: #43424c;
        border: none;
        outline: none;
        box-shadow: inset 1px 1px 2px #131520, inset -2px -2px 2px #131520;
        line-height: 1.5;
        color: white;
        padding: .850rem;
        width: 100%;
    }
    .staff-login-btn,
    .message-submit-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .flash-container {
        position: fixed;
        bottom: 1.880rem;
        overflow: hidden;
        transition: var(--transition-1);
    }
    .flash-hero {
        border: 1px solid red;
        position: relative;
        right: 0;
        bottom: 0;
    }
    .flash-hero.login-clicked {
        height: 12rem;
         4.5rem when contact opens 12rem when login opens
    }
    .flash-hero img {
        width: 100%;
    }
    #flash-img-wide {
        translate: -100%;
        width: 100%;
        display: none;
    }
    #flash-img-narrow {
        width: 100%;
        translate: -100%;
        transition: var(--transition-1);
        display: none;
    } */
    /* ============= contact section End =============== */
    /*  .center-box {
       height: 15rem;
       width: 25rem;
       color: white;
       background-color: #151320;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 3rem;
       position: relative;
       border-radius: 3px;
       top: 50%;
       left: 50%;
       translate: -50% -25%;
       border: 1px solid white;
       z-index: 1000;
   } 
     .center-box::before,
   .center-box::after {
       position: absolute;
       top: -15px;
       left: -15px;
       z-index: -1;
       content: "";
       border-radius: 8px;
       height: calc(100% + 30px);
       width: calc(100% + 30px);
       background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
       background-size: 300%;
       animation: border 12s linear infinite;
   }
   
   .center-box::after {
       filter: blur(50px);
   }
    
   
   @keyframes border {
       0%,
       100% {
           background-size: 0, 0; 
   
   background-position: 0 0;
}
50% {
    background-size: 360%;
    background-position: 300%;
}

}
*/
    /* *********** Footer section ************* */
    /*  .footer {
        width: 100%;
        padding: .5rem;
        min-height: 2rem;
        background-color: #2c2a36;
        box-shadow: inset 15px 15px 40px #43424c;
    } */
}


/* 2c2a36 */


/*
.card-box {
    width: 25rem;
    height: 25rem;
    background-color: #fff;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
    overflow: hidden;
}

.card-box:hover img {
    filter: saturate(1);
}

.img-box {
    background-color: #151320;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    order: 1;
    margin: 0% auto;
    z-index: 0;
    transition: all .5s ease;
    overflow: hidden;
}

.img-box img {
    filter: saturate(0);
    width: 50em;
    height: 25em;
    translate: -25%;
}

.card-hd {
    width: 50%;
    height: 3.5rem;
    order: 3;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    opacity: 1;
    z-index: 2;
    transition: all .5s ease;
    text-align: center;
}

.card-box:hover .card-hd {
    transform: translateY(-1%);
    height: 5rem;
    width: 100%;
}

.social-icons {
    width: 3.5rem;
    height: 50%;
    order: 2;
    position: absolute;
    align-self: flex-end;
    top: 50%;
    right: -100%;
    transform: translateY(-55%);
    background-color: white;
    opacity: 1;
    z-index: 1;
    transition: all .5s ease;
}

.card-box:hover .social-icons {
    right: 0;
}
*/